h1 出退勤記録

div
  | 今日は #{Date.today.strftime("%m月%d日（#{Date::WD[Time.now.wday]}）")} です。

div
  p.time

div.action
  - Constants::Attendance::STATUS_CHANGE_BTN.each_with_index do |status,key|
    p class="statusChangeBtn #{'disable' if !@attendance.is_status_avairable(status)}" change-status-btn-key=key
      | #{status[:text]}
  p
    a href=sheet_attendances_url
      | 勤務表確認
  p
    | 現在状況 : #{@attendance.status_text}

css:
  .statusChangeBtn {
    cursor: pointer;
  }
  .disable {
    color: #999;
  }

javascript:
  $(function(){
    var attendanceId = #{@attendance.id};
    var token = '#{form_authenticity_token}';
    $('.statusChangeBtn:not(.disable)').click(function(){
      var str = '「' + $(this).text().trim() + '」 の記録をします。よろしいですか？';
      if(!confirm(str)){
        return false;
      }
      $('<form/>', {action: "/attendances/"+attendanceId, method: 'post'})
      .append($('<input/>', {type: 'hidden', name: 'authenticity_token', value: token}))
      .append($('<input/>', {type: 'hidden', name: '_method', value: 'patch'}))
      .append($('<input/>', {type: 'hidden', name: 'change_status_btn_key', value: $(this).attr('change-status-btn-key')}))
      .appendTo(document.body)
      .submit();
    });
    showClock();
    function showClock() {
       var nowTime = new Date();
       var nowHour = ('00' + nowTime.getHours()).slice(-2);
       var nowMin  = ('00' + nowTime.getMinutes()).slice(-2);
       var nowSec  = ('00' + nowTime.getSeconds()).slice(-2);
       var msg = nowHour + ":" + nowMin + ":" + nowSec;
       $('p.time').text(msg);
    }
    setInterval(showClock,1000);

  });
